<div class="note-details">
  <div
    *ngIf="segment"
    [ngStyle]="{ background: segment.sectionColor }"
    class="note-details__title"
  >
    <span>{{ segment.sectionName }}</span>
  </div>
  <div class="note-details__list">
    <div class="note-details__list__header">
      <span>Notes</span>
      <div (click)="onAddNote()" class="btn btn__secondary">
        <span>Add note</span>
      </div>
    </div>
    <div *ngIf="notes?.length" class="note-details__list__body">
      <div
        *ngFor="let item of notes"
        (click)="onAddNote(item)"
        class="note-details__list__body__item"
      >
        <div class="note-details__list__body__item__title">
          <span>{{ item.title }}</span>
        </div>
        <div class="note-details__list__body__item__info">
          <div [innerHTML]="item.note"></div>
        </div>
      </div>
    </div>
  </div>
</div>
