<div class="note-details">
  <div class="note-details__list">
    <div class="note-details__list__header">
      <span>Notes</span>
      <div class="btn btn__secondary">
        <span>Add note</span>
      </div>
    </div>
    <div class="note-details__list__body">
      <div class="note-details__list__body__item">
        <div class="note-details__list__body__item__title">
          <span>titlu</span>
        </div>
        <div class="note-details__list__body__item__info">
          <span
            >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident
            perferendis ipsum quaerat quo, alias rem voluptatum blanditiis
            quidem quibusdam corrupti ducimus maiores voluptatibus temporibus
            deserunt atque assumenda, in iusto suscipit architecto distinctio
            voluptates repudiandae accusantium sit ut? Quidem, similique omnis.
            Et accusantium earum unde minus necessitatibus delectus, at ipsam.
            Consectetur.</span
          >
        </div>
      </div>
      <div class="note-details__list__body__item">
        <div class="note-details__list__body__item__title">
          <span>titlu</span>
        </div>
        <div class="note-details__list__body__item__info">
          <span
            >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident
            perferendis ipsum quaerat quo, alias rem voluptatum blanditiis
            quidem quibusdam corrupti ducimus maiores voluptatibus temporibus
            deserunt atque assumenda, in iusto suscipit architecto distinctio
            voluptates repudiandae accusantium sit ut? Quidem, similique omnis.
            Et accusantium earum unde minus necessitatibus delectus, at ipsam.
            Consectetur.</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
