<div class="main-menu">
  <div class="main-menu__left">
    <div
      [routerLink]="['/wheel-of-life']"
      routerLinkActive="main-menu__left__item--active"
      class="main-menu__left__item"
    >
      <img
        width="20"
        src="../../../../../assets/icons/chart-pie-solid.svg"
        alt=""
      />
    </div>
    <div
      [routerLink]="['/notes']"
      routerLinkActive="main-menu__left__item--active"
      class="main-menu__left__item"
    >
      <img
        width="18"
        src="../../../../../assets/icons/note-sticky-solid.svg"
        alt=""
      />
    </div>
  </div>
  <div class="main-menu__right">
    <div class="main-menu__right__item">
      <span>Nume</span>
    </div>
    <div class="main-menu__right__item">
      <img width="20" src="../../../../../assets/icons/user-solid.svg" alt="" />
    </div>
  </div>
</div>
