<div class="main-menu">
  <div class="main-menu__left">
    <div
      [routerLink]="['/wheel-of-life']"
      routerLinkActive="main-menu__left__item--active"
      class="main-menu__left__item"
    >
      <img
        width="20"
        src="assets/icons/chart-pie-solid.svg"
        alt=""
      />
    </div>
    <!-- <div
      [routerLink]="['/notes']"
      routerLinkActive="main-menu__left__item--active"
      class="main-menu__left__item"
    >
      <img
        width="18"
        src="assets/icons/note-sticky-solid.svg"
        alt=""
      />
    </div> -->
  </div>
  <div class="main-menu__right">
    <div class="main-menu__right__item">
      <span>{{ email }}</span>
    </div>
    <div class="main-menu__right__item">
      <img
        draggable="false"
        [matMenuTriggerFor]="beforeMenu"
        width="20"
        src="assets/icons/user-solid.svg"
        alt=""
      />

      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <div class="menu">
          <div (click)="onLogout()" class="menu__item">
            <span>Logout</span>
          </div>
        </div>
      </mat-menu>
    </div>
  </div>
</div>
