.btn {
  height: 42px;
  width: calc(100% - 41px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0 20px;

  &__primary {
    background-color: #424242;

    &:hover {
      background-color: #42424285;
    }
  }

  &__secondary {
    border-color: #424242;

    &:hover {
      border-color: white;
    }
  }
}
